<!DOCTYPE html>
<html>
  <head>
    <title>CommandPalette</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body
    data-controller="command-palette"
    data-action="keydown.ctrl+k->command-palette#toggle keydown.esc->command-palette#close">
    
    <%= yield %>

    <%= render 'shared/command_palette' %>
  </body>
</html>
